* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../source/fonts/Roboto-Regular.eot");
  src: url("../source/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../source/fonts/Roboto-Roboto-Regular.woff") format("woff"), url("../source/fonts/Roboto-Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../source/fonts/Roboto-Medium.eot");
  src: url("../source/fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../source/fonts/Roboto-Medium.woff") format("woff"), url("../source/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
.main {
  height: 100vh;
  background: url(../source/images/background.jpg) no-repeat center/cover;
  backdrop-filter: blur(14px);
  display: flex;
}
@media screen and (max-width: 860px) {
  .main {
    flex-direction: column;
    height: max-content;
    padding: 0 75px;
  }
}
.main .main-preview {
  height: 100%;
  position: relative;
  width: clamp(372px, 34vw, 638px);
  background: url(../source/images/preview.jpg) no-repeat center/cover;
}
@media screen and (max-width: 992px) {
  .main .main-preview {
    background-image: url(../source/images/preview_mobile.jpg);
  }
}
@media screen and (max-width: 860px) {
  .main .main-preview {
    width: 100%;
    height: 741px;
  }
}
.main .main-preview__title {
  position: absolute;
  font-family: Roboto-Regular, sans-serif;
  font-size: clamp(24px, 4vw, 64px);
  line-height: 75px;
  text-align: center;
  background-color: #121212;
  color: #ffffff;
  bottom: 0px;
  width: 100%;
  padding: 14px 0;
}

.main-inner {
  flex: 1;
  padding: 60px clamp(45px, 8vw, 142px) 0 60px;
  overflow: auto;
}
@media screen and (max-width: 860px) {
  .main-inner {
    padding: 0;
  }
}
.main-inner .profile {
  max-width: 1090px;
  display: flex;
  flex-direction: column;
  gap: clamp(20px, 3vw, 50px);
}
.main-inner .profile__name {
  font-family: Roboto-Medium, sans-serif;
  font-size: clamp(24px, 3vw, 48px);
  color: #121212;
}
.main-inner .profile__city {
  font-family: Roboto-Medium, sans-serif;
  font-size: clamp(18px, 2vw, 24px);
  color: #121212;
}
.main-inner .profile__network {
  display: flex;
  gap: clamp(20px, 2vw, 30px);
  /* padding: clamp(30px, 4vw, 50px) 0 clamp(30px, 3vw, 50px) 0; */
}
.main-inner .profile-skills__title {
  font-family: Roboto-Medium, sans-serif;
  font-size: clamp(16px, 2vw, 32px);
  color: #121212;
  padding-bottom: 20px;
}
.main-inner .profile-skills__list {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(20px, 2vw, 25px);
}
.main-inner .profile-skills__list-item {
  background-color: #414141;
  border-radius: 45px;
  color: #ffffff;
  font-family: Roboto-Medium, sans-serif;
  font-size: clamp(16px, 2vw, 32px);
  padding: 14px 55px;
}
@media screen and (max-width: 860px) {
  .main-inner .profile-skills__list-item {
    padding: 8px 35px;
  }
}
.main-inner .profile-about {
  /* padding-top: 50px; */
}
.main-inner .profile-about__title {
  font-family: Roboto-Medium, sans-serif;
  font-size: clamp(20px, 2vw, 32px);
  color: #121212;
}
.main-inner .profile-about__description {
  font-family: Roboto-Medium, sans-serif;
  font-size: clamp(16px, 2vw, 32px);
  color: #121212;
  text-indent: 30px;
  padding-top: 20px;
  line-height: 35px;
}
.main-inner .feedback {
  padding-top: clamp(0px, 3vw, 50px);
}
.main-inner .feedback__form {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 0;
  max-width: clamp(484px, 37vw, 701px);
  justify-content: space-between;
}
.main-inner .feedback__form .input {
  font-family: Roboto-Medium, sans-serif;
  font-size: clamp(16px, 2vw, 32px);
  border-radius: 11px;
  border: 1px solid #121212;
  padding: 14px 0 14px 16px;
}
.main-inner .feedback__form-email, .main-inner .feedback__form-text {
  width: 49%;
}
.main-inner .feedback__form-email::placeholder, .main-inner .feedback__form-text::placeholder {
  color: #121212;
}
.main-inner .feedback__form-button {
  width: 100%;
  text-decoration: none;
  border: none;
  background-color: #121212;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s;
}
.main-inner .feedback__form-button:hover {
  background-color: #414141;
}
.main-inner .feedback__form-button:active {
  background-color: #1e1e1e;
}/*# sourceMappingURL=styles.css.map */