@import '_reset.scss';
@import '_fonts.scss';

.main {
  height: 100vh;
  background: url(../source/images/background.jpg) no-repeat center / cover;
  backdrop-filter: blur(14px);
  display: flex;

  @media screen and (max-width: 860px) {
    flex-direction: column;
    height: max-content;
    padding: 0 75px;
  }

  .main-preview {
    height: 100%;
    position: relative;
    width: clamp(372px, 34vw, 638px);
    background: url(../source/images/preview.jpg) no-repeat center / cover;

    @media screen and (max-width: 992px) {
      background-image: url(../source/images/preview_mobile.jpg);
    }

    @media screen and (max-width: 860px) {
      width: 100%;
      height: 741px;
    }
    &__title {
      position: absolute;
      font-family: Roboto-Regular, sans-serif;
      font-size: clamp(24px, 4vw, 64px);
      line-height: 75px;
      text-align: center;
      background-color: #121212;
      color: #ffffff;
      bottom: 0px;
      width: 100%;
      padding: 14px 0;
    }
  }
}

.main-inner {
  flex: 1;
  padding: 60px clamp(45px, 8vw, 142px) 0 60px;
  overflow: auto;

  @media screen and (max-width: 860px) {
    padding: 0;
  }

  .profile {
    max-width: 1090px;
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 3vw, 50px);
    &__name {
      font-family: Roboto-Medium, sans-serif;
      font-size: clamp(24px, 3vw, 48px);
      color: #121212;
    }

    &__city {
      font-family: Roboto-Medium, sans-serif;
      font-size: clamp(18px, 2vw, 24px);
      color: #121212;
    }

    &__network {
      display: flex;
      gap: clamp(20px, 2vw, 30px);
      /* padding: clamp(30px, 4vw, 50px) 0 clamp(30px, 3vw, 50px) 0; */
    }

    &-skills {
      &__title {
        font-family: Roboto-Medium, sans-serif;
        font-size: clamp(16px, 2vw, 32px);
        color: #121212;
        padding-bottom: 20px;
      }

      &__list {
        display: flex;
        flex-wrap: wrap;
        gap: clamp(20px, 2vw, 25px);

        &-item {
          background-color: #414141;
          border-radius: 45px;
          color: #ffffff;
          font-family: Roboto-Medium, sans-serif;
          font-size: clamp(16px, 2vw, 32px);
          padding: 14px 55px;

          @media screen and (max-width: 860px) {
            padding: 8px 35px;
          }
        }
      }
    }

    &-about {
      /* padding-top: 50px; */
      &__title {
        font-family: Roboto-Medium, sans-serif;
        font-size: clamp(20px, 2vw, 32px);
        color: #121212;
      }

      &__description {
        font-family: Roboto-Medium, sans-serif;
        font-size: clamp(16px, 2vw, 32px);
        color: #121212;
        text-indent: 30px;
        padding-top: 20px;
        line-height: 35px;
      }
    }
  }
  .feedback {
    padding-top: clamp(0px, 3vw, 50px);
    &__form {
      display: flex;
      flex-wrap: wrap;
      gap: 25px 0;
      max-width: clamp(484px, 37vw, 701px);
      justify-content: space-between;

      .input {
        font-family: Roboto-Medium, sans-serif;
        font-size: clamp(16px, 2vw, 32px);
        border-radius: 11px;
        border: 1px solid #121212;
        padding: 14px 0 14px 16px;
      }

      &-email,
      &-text {
        width: 49%;
        &::placeholder {
          color: #121212;
        }
      }

      &-button {
        width: 100%;
        text-decoration: none;
        border: none;
        background-color: #121212;
        color: #ffffff;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
          background-color: #414141;
        }
        &:active {
          background-color: #1e1e1e;
        }
      }
    }
  }
}
